In [441]:
empty_dict={}
print(empty_dict)

{}

In [442]:
empty_dict=dict()
empty_dict

{}

In [443]:
student={"name":"krish","age":31,"grade":67}
print(student)
print(type(student))

{'name': 'krish', 'age': 31, 'grade': 67}
<class 'dict'>

In [444]:
student={"name":"krish","age":31,"name":67} ##name got replaced with the second time mentioned
print(student) ##key must be unique

{'name': 67, 'age': 31}

In [445]:
student={"name":"krish","age":31,"grade":"A"}
print(student)

{'name': 'krish', 'age': 31, 'grade': 'A'}

In [446]:
#accessing dict elements
print(student['grade'])
print(student['age'])

#acessing using get()
print(student.get('grade'))
print(student.get('lastname'))
print(student.get('lastname',"not available"))

A
31
A
None
not available

In [447]:
#modifying dict
#dict are mutable, add update or delete elements
print(student)

{'name': 'krish', 'age': 31, 'grade': 'A'}

In [448]:
student['age']=88 ##updated
print(student)
student['address']='India' ##added new key and value
print(student)

{'name': 'krish', 'age': 88, 'grade': 'A'}
{'name': 'krish', 'age': 88, 'grade': 'A', 'address': 'India'}

In [449]:
del student['grade'] #deleted key and value pair

print(student)

{'name': 'krish', 'age': 88, 'address': 'India'}

In [450]:
#dict methods

keys=student.keys() #get all the keys 
print(keys)
values=student.values() #get all values
print(values)

items=student.items() #key all the key and value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['krish', 88, 'India'])
dict_items([('name', 'krish'), ('age', 88), ('address', 'India')])

In [451]:
##shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'krish', 'age': 88, 'address': 'India'}
{'name': 'krish', 'age': 88, 'address': 'India'}

In [452]:
student['name']='kanish'
print(student)
print(student_copy)

{'name': 'kanish', 'age': 88, 'address': 'India'}
{'name': 'kanish', 'age': 88, 'address': 'India'}

In [453]:
student_copy1=student.copy() #shallow copy
print(student_copy1)
print(student)

{'name': 'kanish', 'age': 88, 'address': 'India'}
{'name': 'kanish', 'age': 88, 'address': 'India'}

In [454]:
student['name']='anna'
print(student_copy1)
print(student)

{'name': 'kanish', 'age': 88, 'address': 'India'}
{'name': 'anna', 'age': 88, 'address': 'India'}

In [455]:
student

{'name': 'anna', 'age': 88, 'address': 'India'}

In [456]:
##iterating over dict
##you can use loops to iterate over dictionaries, keys, values or items

##iterating over keys
for key in student.keys():
    print(key)

name
age
address

In [457]:
for value in student.values():
    print(value)

anna
88
India

In [458]:
#iterate over key value pairs
for key, value in student.items():
    print(f"{key}:{value}")

name:anna
age:88
address:India

In [459]:
##nested dictionaries
students={
    "student1":{'name':'suresh','age':23},
    "student2":{'name':'peter','age':21}
}
print(students)

{'student1': {'name': 'suresh', 'age': 23}, 'student2': {'name': 'peter', 'age': 21}}

In [460]:
##acess nested dict
print(students['student2']['name'])
print(students['student2']['age'])

peter
21

In [461]:
students.items()

dict_items([('student1', {'name': 'suresh', 'age': 23}), ('student2', {'name': 'peter', 'age': 21})])

In [462]:
#iterating over nested dict
for student_id, student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'suresh', 'age': 23}
name:suresh
age:23
student2:{'name': 'peter', 'age': 21}
name:peter
age:21

In [463]:
#dict comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [464]:
##conditional dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [465]:
##practical examples

##use a dictionary to count the freq of elements in the list
numbers=[1,2,2,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 2, 4: 4}

In [466]:
#merge dict

dict1={'a':1,'b':2}
dict2={'b':3,'c':4}
merge_dict={**dict1,**dict2}
print(merge_dict)

{'a': 1, 'b': 3, 'c': 4}