In [88]:
#create table
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [89]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [90]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [91]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [92]:
mixed_tuples=(1,"hello world",3.14,True)
print(mixed_tuples)

(1, 'hello world', 3.14, True)

In [93]:
## accessing tuple elements

numbers

(1, 2, 3, 4, 5, 6)

In [94]:
print(numbers[2])
print(numbers[-1])
print(numbers[0:4])
print(numbers[::-1])

3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [95]:
##tuple operations

concatenation = numbers + mixed_tuples
print(concatenation)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [96]:
mixed_tuples * 3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [97]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [98]:
## immutatble nature of tuples, immutable

lst=[1,2,3,4,5]
print(lst)

lst[1]='jenny'
print(lst)

##numbers[1]='jenny'

[1, 2, 3, 4, 5]
[1, 'jenny', 3, 4, 5]

In [99]:
numbers

(1, 2, 3, 4, 5, 6)

In [100]:
#tuple methods
print(numbers.count(1))
print(numbers.index(3)) #element 3 is present in the tuple

1
2

In [101]:
##packing and unpacking tuple
packed_tuple=1,'hello',3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [102]:
#unpacking
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
hello
3.14

In [103]:
##unpacking w *
numbers=(1,2,3,4,5)
first,*middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [104]:
lst=[[1,2,3,4],[5,6,7,8],[1,'hellow world',3.14,'c']]
lst[2][0:3]

[1, 'hellow world', 3.14]

In [105]:
lst=[[1,2,3,4],[5,6,7,8],(1,'hellow world',3.14,'c')] ##tuple inside a list
lst[2][0:2]

(1, 'hellow world')

In [106]:
nested_tuple =  ((1,2,3),('a','b','c'),(True,False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [107]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False