In [1]:
def sq(x):
    return x*x

sq(4)

16

In [2]:
numbers=[1,2,3,4,5,6,7,8]
list(map(sq,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
##lambda func w map
numbers=[1,2,3,4,5,6,7,8]

list(map(lambda x:x*x,numbers))

[10, 20, 30, 40, 50, 60, 70, 80]

In [5]:
### map multiple iterables
numbers1=[1,2,3]
numbers2=[4,5,6]

added_num=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_num)

[5, 7, 9]

In [ ]:
#map() convert a list of stringa to integers
#use map to convert strings to integers
str1=['1','2','3','4','5']
int1=list(map(int, str1))   #inbuilt int 
print(int1)

[1, 2, 3, 4, 5]

In [9]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [10]:
def get_name(person):
    return person['name']

people=[
    {'name':'john','age':32},
    {'name':'doe','age':44}
]
list(map(get_name,people))

['john', 'doe']